body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0px;
}
div {
      margin: 30px;
      margin-right: 250px;
      line-height: 1.5;
}

h2 {
      //display:inline;
}

span {
      font-size: 0.8em;
}

