body {
      font-family: Arial, sans-serif;
      margin: 0px;
      border: 1px solid #4CAF50;
}
div {
      margin: 30px;
      border: 1px solid #4CAF50;
}
p {
      font-family: Arial, sans-serif;
}
