body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0px;
}
div {
      margin: 30px;
      margin-right: 250px;
      line-height: 1.5;
}

h2 {
      //display:inline;
}

span {
      font-size: 0.8em;
}
#codedisplay{
    display: none;
    border: solid 1px #a6d8a8;
}
#codedisplay2{
    display: none;
    border: solid 1px #a6d8a8;
    overflow-x: scroll;
    overflow-y: hidden;
}

#code {
    text-align: center;
    background-color: #4CAF50;
    border: solid 1px #4CAF50;
    cursor: pointer;
}
#code:hover {
    background-color: lightblue;
    border: solid 1px #4d79ff;
}
pre{
    padding: 10px;
}
